@charset "utf-8";
/* CSS Document */






imagen{
	width: auto;
	margin: auto;

	
	}
	
	


	

body {
	background:#ffffff;
}
 
		*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




.navegacion{
	width: 600px;
	margin:  auto;
	background: #4D90CD;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 40px;
	color: #ffffff;
	font-family: 'Gadugi';
	text-decoration: none;
}

.menu li a:hover{
	color: #ffffff;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #6AC4C7;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #000000;
	font-family: 'Gadugi';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
	}
			



body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 70px;
}



div#texto{
	width: 90%;
	height: 70px;
}



div#textoo{
	width: 90%;
	height: 70px;
}



div#cerebro {
	float:left;
    margin-left: 5%;
	padding: 0px;
	
	}

div#bart {
	margin:auto;
	}
	